* {
    color: black;
  
}

div {
    background-color: greenyellow;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
   
}

